/* styles for all screens*/
* {
  margin: 0px;
  padding: 0px;
}
/* nav header-1 (logo and filter)*/
.nav-filter {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  width: max-content;
}
.guest,
.sub {
  color: #bdbdbd;
}
.location,
.guest,
.search {
  padding: 19px 16px;
}
.location,
.guest {
  border-right: 1px solid #f2f2f2;
  font: normal 400 14px/18px Montserrat;
}
.logo {
  margin-top: 19px;
}
.nav {
  justify-content: space-between;
}
/* nav header-2 (country  and number of stays)*/

.stay-title {
  font: normal 700 24px/29px "Montserrat";
  color: #333333;
}
.stay {
  justify-content: space-between;
}
.stay-number {
  font: normal 500 14px/17px "Montserrat";
  color: #4f4f4f;
}

/* hotel cards container */

.display-properties {
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  font: normal 500 14px/17px "Montserrat";
  text-align: center;
  color: #828282;
}

/* Hotel card */

img {
  height: 269px;
  border-radius: 24px;
}
p {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
.star {
  font-size: 16px;
  color: #eb5757;
  margin-right: 7px;
}
.card {
  width: min-content;
}
section {
  justify-content: space-between;
}
.body-host {
  margin-right: 11px;
  margin-top: 15px;
  font: normal 700 12px/15px "Montserrat";
  text-transform: uppercase;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 7px 10px;
}
.body-content {
  font-size: 12px;
}
.body-rating,
.body-content {
  margin-top: 21px;
}
.title,
.card-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.card-title {
  margin-top: 12px;
  color: #333333;
}
/* Filter Drawer */

.place {
  cursor: pointer;
}
.large {
  display: block;
}
.small,
.sm {
  display: none !important;
}
.filter-drawer {
  background: rgba(79, 79, 79, 0.4);
  width: 100%;
  height: 170vh;
  position: absolute;
  top: 0px;
  left: 0px;
}
.filter-body {
  margin: auto;
  background-color: #ffffff;
}
.filter-body-cont {
  box-shadow: 0px 1px 6px 0px black;
}
.filter-content {
  width: 30%;
}
.material-icons {
  width: 14px;
  height: 19px;
  margin-right: 10px;
  color: #333333;
}
.place {
  margin-top: 36px;
}
.active,
.filter-body-cont,
.search-button,
.nav-filter {
  border-radius: 16px;
}
.filter-content {
  padding: 12px 26px;
  cursor: pointer;
}
.default {
  height: 23px;
  width: 23px;
  padding: 7px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 9px;
}
.active,
.default {
  border: 1px solid #333333;
}
.adult {
  margin-top: 48px;
}
.children {
  margin-top: 52px;
}
.search-button {
  height: 48px;
  width: 126px;
  background-color: rgba(235, 87, 87, 0.9);
  border: none;
  margin: 6px 0px;
  color: white;
}
.icon {
  margin-right: 10px;
}

.removedefault {
  border: none;
  background-color: #ffffff;
}

.active .sub {
  color: black;
}
/* GLobal Styles */

.flex {
  display: flex;
}

/* styles for screeen between 375-424 px*/
@media screen and (min-width: 375px) and (max-width: 424px) {
  /* header 1 */
  .nav-filter {
    width: max-content;
    margin: auto;
    margin-top: 49px;
  }
  /* card  */
  img {
    height: 238px;
    width: 350px;
    border-radius: 24px;
  }

  .card {
    padding: 0px 12px 32px 12px;
  }

  .body-host {
    font-size: 10px;
    line-height: 14px;
  }
  .display-properties {
    padding-top: 24px;
  }
  .stay-title {
    font-size: 18px;
    line-height: 22px;
  }
  .nav {
    flex-direction: column;
  }
  .nav {
    margin: 32px 14px 0px 14px;
  }

  .stay {
    padding: 37px 14px 0px 14px;
  }
}
/* styles for screeen between 425-767 px*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .nav {
    margin: 32px 14px 0px 14px;
  }

  .stay {
    padding: 37px 14px 0px 14px;
  }

  .display-properties {
    padding: 32px 14px 32px 14px;
  }

  .card {
    padding: 0px 17px 18px 0px;
  }

  img {
    height: 269px;
    width: 365px;
  }
}
/* styles for screeen between 768-1023 px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    margin: 32px 34px 0px 34px;
  }

  .stay {
    padding: 47px 34px 0px 34px;
  }

  .display-properties {
    padding: 32px 32px 32px 34px;
  }

  .card {
    padding: 0px 10px 10px 0px;
  }

  img {
    height: 269px;
    width: 335px;
  }

  .filter-body {
    padding: 50px 10%;
  }
}
/* styles for screeen between 1024-1439 px*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .nav {
    margin: 32px 74px 0px 74px;
  }

  .stay {
    padding: 57px 74px 0px 74px;
  }

  .display-properties {
    padding: 32px 52px 32px 74px;
  }

  .card {
    padding: 0px 27px 28px 0px;
  }

  img {
    height: 269px;
    width: 385px;
  }

  .filter-body {
    padding: 70px 10%;
  }
}
/* styles for screeen more than 1440 px */
@media screen and (min-width: 1440px) {
  .nav {
    margin: 32px 94px 0px 94px;
  }

  .stay {
    padding: 67px 94px 0px 94px;
  }

  .display-properties {
    padding: 32px 62px 32px 94px;
  }

  .card {
    padding: 0px 32px 33px 0px;
  }

  img {
    height: 269px;
    width: 395px;
  }

  .filter-body {
    padding: 90px 10%;
  }
}

@media screen and (max-width: 650px) {
  .small {
    display: flex !important;
    margin-top: 182px;
  }
  .sm {
    display: flex !important;
    justify-content: space-between;
    padding: 22px 18px;
    cursor: pointer;
  }
  .large {
    display: none !important;
  }
  .filter-body {
    width: 100%;
  }
  .filter-body-cont {
    flex-direction: column;
    width: 350px;
    margin-left: 12px;
  }
  .filter-content {
    width: 100%;
  }
  .material-icons {
    margin-left: 49px;
  }
  .active {
    border: none;
  }
  /* .filter-drawer {
    position: absolute !important;
  } */
  /* filter end 413*/
}
